
@{
    ViewBag.Title = "_LoginLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
</head>
<body class="bg-secondary-subtle">
    @{
        if (TempData["success"] != null)
        {
            <script>
                    toastr.success('@TempData["success"]');
            </script>
        }
        if (TempData["error"] != null)
        {
            <script>
                toastr.error('@TempData["error"]');
            </script>
        }
    }
    <section style="padding: 7em 0;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-9">
                    <div class="wrap border" style="box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); background: #fff; border-radius: 5px; ">
                        <div style="height: 300px; background-image: url(https://dg.imgix.net/seven-reasons-not-to-play-the-lottery-lwjmikju-en/landscape/seven-reasons-not-to-play-the-lottery-lwjmikju.jpg?ts=1482954821&ixlib=rails-4.3.1&auto=format%2Ccompress&fit=min&w=700&h=394&dpr=2&ch=Width%2CDPR);">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


